OPENAI_API_KEY=
OPENAI_BASE_URL=https://api.openai.com/v1

DEEPSEEK_API_KEY=
DEEPSEEK_BASE_URL=https://api.deepseek.com

QWEN_API_KEY=
QWEN_BASE_URL=https://dashscope.aliyuncs.com/compatible-mode/v1

KIMI_API_KEY=
KIMI_BASE_URL=https://api.moonshot.cn/v1

TAVILY_API_KEY=
NCBI_API_KEY=
SEMANTIC_SCHOLAR_API_KEY=
